.content {
  float: left;
  padding: 1.875em;
  width: 100%; }
  
.order-card {
  color: #fff;
}


.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}
.bg-arielle-smile {
  /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important; } */
  background-image: linear-gradient(90deg, #f6671f, #c01b1c);}
.bg-happy-itmeo {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important; }
.bg-strong-bliss {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%) !important; }

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.875em;
  border-radius: 5px;
  padding: 0;
  border: 0px solid transparent;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.card .card-block {
  padding: 25px;
  
}

.order-card i {
  font-size: 26px;
}
 .name{
  font-size: 18px;
  font-weight: bold;
 
}
.view{
  font-size: 30px;
  color: #000;
}