.limiter2 {
  width: 1200px;
  margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
   
    
  }
  .dialog2{
    margin-top: 100px;
    top: 100px;
  }
  .container-table1002 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table1002 {
    width: 1000px;
  }
  
  
  .table1002 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column11 {
    width: 20%;
   
  }
  
  .column12 {
    width: 20%;
  }
  
  .column13 {
    width: 20%;
  }
  
  .column14 {
    width: 20%;
  }
  
  .column15 {
    width: 20%;
    padding-right: 20px;
  }
  
  .table1002-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table1002-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  
  .table1002 {
    position: relative;
    padding-top: 60px;
  }
  
  .table1002-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }
  
  .table1002-body {
    max-height: 585px;
    overflow: auto;
    text-align: center;
  }
  
  
  
  .table1002.ver12 tr:hover td {
    background-color: #ebebeb;
    cursor: pointer;
  }
  
  .table1002.ver12 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #000;
    line-height: 1.4;
    
  }
  .bg-table{
    background-image: linear-gradient(to right, #56bcf5, #52c4f2, #57ccec, #63d3e6, #73d9e0) !important;
  }
  .table1002.ver12 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
   
  }
  
  .table1002.ver12 .table1002-body tr:nth-child(even) {
    background-color: #f8f6ff;
  }
  
  
  
  .table1002.ver12 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  