.content {
    float: left;
    padding: 1.775em;
    
    width: 100%; }

.limiter3 {
    width: 1300px;
    margin: 0 auto;
  }
  
  .container-table1003 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
   
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 30px;
   
  }
  
  .wrap-table1003 {
    width: 1300px;
  }
  
 
  .table100 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .column21 {
    width: 20%;
    padding-left: 40px;
  }
  
  .column22 {
    width: 16%;
  }
  
  .column23 {
    width: 16%;
  }
  
  .column24 {
    width: 16%;
  }
  
  .column25 {
    width: 16%;
  }
  .column26 {
    width: 16%;
    padding-right: 40px;
  }
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
 
  .table100 {
    position: relative;
    padding-top: 60px;
  }
  
  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }
  
  .table100-body {
    max-height: 585px;
    overflow: auto;
    text-align: center;
  }
  
  
 
  .table100.ver13 tr:hover td {
    background-color: #ebebeb;
    
  }
  
  .table100.ver13 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #000;
    line-height: 1.4;
    text-align: center;
  }
  .bg-table{
    background-image: linear-gradient(to right, #56bcf5, #52c4f2, #57ccec, #63d3e6, #73d9e0) !important;
  }
  .table100.ver13 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
   
  }
  
  .table100.ver13 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
  }
  
 
  
  .table100.ver13 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  