.detail{
    overflow-y: hidden;
    overflow-x: hidden;
   
   margin:0 70px;
    
}

  .stat-icon1 i {
    font-size: 40px;
    border-width: 3px;
    border-style: solid;
    border-radius: 80px;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
 }
    
.button2 {
    display: block;
    border: solid white;
    border-width: 0 10px;
    border-radius: 0;
    background: linear-gradient(to right, #56bcf5, #52c4f2, #57ccec, #63d3e6, #73d9e0) !important;
    color: #000;
    font-size: 18px;
    margin: -60px auto 15px;
    padding: 15px;
   }
.fa-arrow-left{
    color: #000;
    
}

